.involvement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem 2rem 2rem;
}
  
.involvement h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.involvement p {
    font-size: var(--h2-font-size);
}
  
.involvement_content {
    display: flex;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    margin-top: 2rem;
}
  
.navigation {
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
  
.navigation button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
  
.navigation button:hover, .navigation button.active  {
    background-color: var(--text-color);
    color: var(--background-color);
}

.information {
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.information h2 {
    font-size: 2rem;
    font-weight: bold;
}
  
.information h3 {
    font-size: 1.3rem;
}
  
.involvement_projects {
    width: 100%;
    margin-top: 1.5rem;
}

.project_example {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.project_example h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.project_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 1rem 0;
    gap: 2rem;
}

.project_info p {

    text-align: left;
    font-size: var(--h3-font-size);
}

.project_info img {
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.project_example a {
    font-weight: bold;
    font-size: var(--h3-font-size);
}

@media (max-width: 768px) {
    
    .involvement_content {
        flex-direction: column;
        width: 95vw;
    }

    .navigation {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center;
        max-height: 100px; 
        overflow-x: auto; 
        overflow-y: auto; 
        scrollbar-width: thin; 
        scrollbar-color: var(--text-color) transparent;
        min-width: 100%; 
        white-space: nowrap; 
        padding-left: 10px; 
        box-sizing: border-box;
        border-right: none;
    }

    .navigation::-webkit-scrollbar {
        scrollbar-color: var(--text-color) transparent;
        width: 8px;
    } 

    .navigation button {
        flex: 1;
        text-align: center;
        padding: 0.75rem;
    }

    .information {
        width: 100%;
        padding: 1rem;
    }

    .project_info {
        flex-direction: column;
    }
}
  