.projects {
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h1 {
    font-size: var(--header-font-size);
    text-align: center;
    padding: 2rem;
}