.personal_projects {
    display: grid;
    grid-template-columns: repeat(2, max-content); /* Two columns with equal width */
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {

    .portfolio {
        padding: 0;
        padding-top: 5rem;
    }

    .portfolio h1 {
        font-size: 3.3rem;
    }

    .personal_projects {
        grid-template-columns: repeat(1, max-content);
        padding-bottom: 2rem;
    }
}


